__pycache__
*.dat
*-checkpoint.ipynb
*-checkpoint.py
scripts/model/images/train/*
scripts/model/images/valid/*
scripts/model/images/test/*
vm-setup/lfs/*
scripts/model/yolov5/*
scripts/model/dataset/*
trash/*
