model/images/train/*
model/images/valid/*
model/images/test/*
model/dataset/*
model/build/dataset/*
model/build/target*
model/yolov5/*
model/YOLOV5m/*
model/yolov3/*
model/dataset/*
model/logs/*
model/mnist/*
model/archive/*
model/build/log*
*.xmodel
*.pth
*.pt
model2/code/datasets/*

